doctype html

- baseTitle = 'Bitcoin Blockchain Explorer: find any bitcoin transaction with BTCScan'
- staticRoot = process.env.STATIC_ROOT || ''
- pageTitle = prerender_title ? `${prerender_title} | ${baseTitle}` : baseTitle
- bodyClass = theme ? `theme-${theme}` : ''

- cssPath = t ? t`style.css` : 'style.css'
- lang = t ? t.lang_id : 'en'
- dir = t ? t`ltr` : 'ltr'

head
  meta(charset='utf-8')
  title= pageTitle
  meta(property='og:title', content='Bitcoin Blockchain Explorer: find any bitcoin transaction with BTCScan')
  meta(name='description', content='The most trusted and popular bitcoin (BTC) blockchain explorer and crypto transaction search')
  meta(property='og:url' content='https://btcscan.org')
  meta(property='og:type' content='website')

  meta(name='og:title' content='Bitcoin Blockchain Explorer: find any bitcoin transaction | BTCScan')
  meta(name='og:site_name' content='btcscan.org')
  meta(name='og:description' content='The most trusted and popular bitcoin (BTC) blockchain explorer and crypto transaction search')
  meta(name='twitter:description' content='The most trusted and popular bitcoin (BTC) blockchain explorer and crypto transaction search')
  meta(name='twitter:title' content='Bitcoin Blockchain Explorer: find any bitcoin transaction | BTCScan')

  if canon_url
    link(rel="canonical", href=canon_url)

  if !noscript && process.env.NOSCRIPT_REDIR
    noscript: meta(http-equiv='refresh', content="0; url='?nojs'")

  base(href=process.env.BASE_HREF || '/')

  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='shortcut icon', type='image/png', href=staticRoot+'img/favicon.png')
  link(rel='stylesheet', href=staticRoot+'bootstrap.min.css')
  link(rel='stylesheet', href=staticRoot+cssPath)
  // Google Tag Manager
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K76VQVF');
  // End Google Tag Manager

  if process.env.CANONICAL_URL
    //- open search requires the absolute URL of the explorer
    link(rel='search', href=staticRoot+'opensearch.xml', type='application/opensearchdescription+xml', title=process.env.SITE_TITLE || 'Block Explorer')

  != process.env.HEAD_HTML

body(class=bodyClass, lang=lang, dir=dir)
  // Google Tag Manager (noscript)
  noscript
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K76VQVF' height='0' width='0' style='display:none;visibility:hidden')
  // End Google Tag Manager (noscript)
  #explorer!= prerender_html || ''

  if !noscript
    script(src=staticRoot+'app.js', async)
  != process.env.FOOT_HTML
